nav ul{
  list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

nav ul li{
  float: left;
}

nav ul li a{
  display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

nav ul li a:hover{
  background-color: green;
}

header{
  text-align: center;
}
article{
  text-align: left;
}

aside{
  float: right;
}
aside figure figcaption{
  font-size: 30px;
}

details summary{
  font-size: 20px;
}
